// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://db.onlinewebfonts.com/c/938a9833b7244d806eca3349487c68ba?family=Phetsarath+OT');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*{
    font-family: 'Phetsarath OT';
}
.py-6px{
    padding-top: 6px;
    padding-bottom: 6px;
}
.py-5px{
    padding-top: 5px;
    padding-bottom: 5px;
}

.overflow-scroll{
    overflow: scroll;
}
