// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://db.onlinewebfonts.com/c/938a9833b7244d806eca3349487c68ba?family=Phetsarath+OT');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*{
    font-family: 'Phetsarath OT';
}
.py-6px{
    padding-top: 6px;
    padding-bottom: 6px;
}
.py-5px{
    padding-top: 5px;
    padding-bottom: 5px;
}

.overflow-scroll{
    overflow: scroll;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.cursor-pointer{
    cursor: pointer;
}

.limit-lines{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 9em;
    line-height: 1.8em;
  }

#sidebar{
    transition: width .4s, padding .4s;
    width: 50px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-left: 50px;
    padding-right: 0px;
}
#sidebar .nav-link:hover{
    background-color: #333;
}
#sidebar-placeholder{
    margin-left: -45px;
    transition: margin .4s;
}

#main{
    padding-left: 60px;
}
